.container {
  display: flex;
  overflow-y: auto;
}

.main-container {
  flex: 1;
  padding: 2.5em;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

}

/* reduced container padding on mobile */
@media (max-width: 768px) {
  .main-container {
    padding: 1.5em;
    margin-bottom: 6rem;
  }
}

.sub-container {
  margin: 0 auto;
  background-color: var(--container-background-color);
  border-radius: 0.3125em;
  padding: 2em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.16);
  margin-bottom: 1em;
}

/* reduce margin-bottom slightly */
header h1 {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

/* reduced header text size on mobile */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  height: auto;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
