/* ../src/styles/buttons.css */


/* Toggle theme button styles */
.theme-toggle-wrapper {
    margin: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.theme-label {
    color: var(--text-color);
    font-size: 0.875rem;
    min-width: 5rem;
}

.toggle-slider {
    position: relative;
    width: 3.75rem;
    height: 2rem;
    background-color: var(--toggle-background);
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider-circle {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--toggle-button);
    border-radius: 50%;
    transition: transform 0.3s;
    pointer-events: none;
}

/* Class added when dark mode is active */
.toggle-slider.active {
    background-color: var(--accent-color);
}

.toggle-slider.active .slider-circle {
    transform: translateX(1.75rem);
}





/* Log Workout Button Styles */
.log-workout-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.log-workout-button:hover {
    background-color: var(--secondary-color);
}

.plus-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}



/* Styles for buttons */
.btn-primary {
    width: 50%;
    min-width: fit-content;
    padding: 0.75rem;
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    margin: 1rem auto 0;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--accent-color);
}


.modal-buttons .btn-primary {
    width: fit-content !important;
}