.theme-toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.theme-label {
  color: var(--text-color);
  font-size: 0.875rem;
  min-width: 5em;
}

.toggle-slider {
  position: relative;
  width: 3.75em;
  height: 2em;
  background-color: var(--accent-color);
  border-radius: 2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider-circle {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  width: 1.5em;
  height: 1.5em;
  background-color: var(--background-color);
  border-radius: 50%;
  transition: transform 0.3s;
  pointer-events: none;
}

.toggle-slider.active {
  background-color: var(--accent-color);
}

.toggle-slider.active .slider-circle {
  transform: translateX(1.75em);
}

/* Log Workout Floating Button Styles */
.log-workout-button {
  display: block;
  position: sticky;
  bottom: 0;
  background-color: var(--button-background-color);
  color: var(--important-text-color);
  border: none;
  border-radius: 2em;
  padding: 0.75em 1.5em;
  cursor: pointer;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.16);
  transition: background-color 0.3s;
  font-size: 1rem;
  margin-left: auto;
  margin-top: auto;
}

/* Its important that this comes after the .log-workout-button-styles */
.log-workout-button.center {
  margin: 2em auto !important;
}

.log-workout-button:hover {
  background-color: var(--button-hover-background);
  color: var(--important-text-color);
}

.plus-icon {
  font-size: 1.5rem;
  margin-right: 0.5em;
}

/* Styles for Buttons */
.btn-primary,
.btn-secondary {
  padding: 0.5em 1em;
  font-size: 1rem;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.btn-primary {
  background-color: var(--button-background-color);
  color: var(--important-text-color);
}

.btn-primary:hover {
  background-color: var(--button-hover-background);
  color: var(--important-text-color);
}

.btn-primary:active {
  background-color: var(--button-active-background);
  color: var(--important-text-color);
}

.btn-secondary {
  background-color: var(--button-background-color);
  color: var(--important-text-color);
}

.btn-secondary:hover {
  background-color: var(--button-hover-background);
  color: var(--important-text-color);
}

.btn-secondary:active {
  background-color: var(--button-active-background);
  color: var(--important-text-color);
}

@media (max-width: 768px) {
  .btn-primary,
  .btn-secondary {
    font-size: 1.1rem;
  }
}
