/* colors.css */

/* Light Theme */
:root {
  /* Base Colors */
  --background-color: #ffffff; /* Main background: White */
  --text-color: #212529; /* Main text: Dark Gray */
  --input-border-color: #212529;
  --important-text-color: #ffffff;
  /* Accent Color */
  --accent-color: #18bc9c; /* Accent: Turquoise */

  /* Sidebar */
  --sidebar-background-color: #f8f9fa; /* Sidebar background: Light Gray */
  --sidebar-text-color: var(--text-color); /* Sidebar text: Dark Gray */

  /* Container */
  --container-background-color: #f8f9fa; /* Container background: Light Gray */
  --container-text-color: var(--text-color); /* Container text: Dark Gray */

  /* Warning color */
  --warning-color: #dc3545;
  /* Buttons */
  --button-border-color: var(--accent-color);
  --button-background-color: var(
    --accent-color
  ); /* Button background: Accent Color */
  --button-text-color: #ffffff; /* Button text: White */
  /* Hover Effects */
  --hover-background-color: #e2e6ea; /* Hover background: Very Light Gray */
  --button-hover-background: #2abca0;
  --button-active-background: #149b85;
}

/* Dark Theme */
.dark-theme {
  /* Base Colors */
  --background-color: #1f1f1f; /* Main background: Dark Gray */
  --text-color: #e0e0e0; /* Main text: Light Gray */
  --input-border-color: #e0e0e0;
  --important-text-color: #ffffff;
  /* Accent Color */
  --accent-color: #18bc9c; /* Accent: Turquoise */

  /* Sidebar */
  --sidebar-background-color: #121212; /* Sidebar background: Almost black */
  --sidebar-text-color: var(--text-color); /* Sidebar text: Light Gray */

  /* Container */
  --container-background-color: #1a1a1a; /* Container background: Darker Gray */
  --container-text-color: var(--text-color); /* Container text: Light Gray */
  /* Warning color */
  --warning-color: #dc3545;
  /* Buttons */
  --button-border-color: var(--accent-color);
  --button-background-color: var(
    --accent-color
  ); /* Button background: Accent Color */
  --button-text-color: #ffffff; /* Button text: White */

  /* Hover Effects */
  --hover-background-color: #333333; /* Hover background: Medium Gray */
  --button-hover-background: #2abca0;
  --button-active-background: #149b85;
}
