/* colors.css */

/* Light Theme Colors */
:root {
    --primary-color: #2C3E50;       /* Deep blue */
    --secondary-color: #18BC9C;     /* Turquoise */
    --accent-color: #E74C3C;        /* Red */
    --background-color: #ECF0F1;    /* Light gray */
    --text-color: #2C3E50;          /* Deep blue */
    --heading-color: #34495E;       /* Dark blue */
    --subheading-color: #7F8C8D;    /* Gray */
    --border-color: #BDC3C7;        /* Silver */
    --input-background: #FFFFFF;    /* White */
    --input-text-color: #2C3E50;    /* Deep blue */
    --button-background: #18BC9C;   /* Turquoise */
    --button-text-color: #FFFFFF;   /* White */
    --link-color: #2980B9;          /* Blue */
    --sidebar-background: #FFFFFF;  /* White */
    --sidebar-text-color: #2C3E50;  /* Deep blue */
    --toggle-background: #BDC3C7;   /* Silver */
    --toggle-button: #FFFFFF;       /* White */
}

/* Dark Theme Colors */
.dark-theme {
    --primary-color: #ECF0F1;       /* Light gray */
    --secondary-color: #1ABC9C;     /* Turquoise */
    --accent-color: #E74C3C;        /* Red */
    --background-color: #2C3E50;    /* Deep blue */
    --text-color: #ECF0F1;          /* Light gray */
    --heading-color: #ECF0F1;       /* Light gray */
    --subheading-color: #95A5A6;    /* Gray */
    --border-color: #7F8C8D;        /* Gray */
    --input-background: #34495E;    /* Dark blue */
    --input-text-color: #ECF0F1;    /* Light gray */
    --button-background: #1ABC9C;   /* Turquoise */
    --button-text-color: #ECF0F1;   /* Light gray */
    --link-color: #3498DB;          /* Blue */
    --sidebar-background: #34495E;  /* Dark blue */
    --sidebar-text-color: #ECF0F1;  /* Light gray */
    --toggle-background: #7F8C8D;   /* Gray */
    --toggle-button: #ECF0F1;       /* Light gray */
}
