/* Error Message Styles */
.error-message {
  color: var(--warning-color);
  font-size: 0.875rem;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  text-align: center;
  display: none;
}

@media (max-width: 768px) {
  .error-message {
    font-size: 1rem;
  }
}
