/* filter button */

.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  height: 2.5em;
  width: fit-content;
}

#filter-container .material-symbols-outlined {
  color: var(--important-text-color);
}

/* Filter Options Container */
.filter-options-container {
  margin: 1em 0;
  padding: 1em;
}

/* Filter Group */
.filter-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.filter-group label {
  margin-right: 0.5rem;
  color: var(--text-color);
}

.filter-group input {
  padding: 0.5em;
  border: 1px solid var(--input-border-color);
  border-radius: 0.25em;
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 30%;
}

/* Adjust input widths as needed */
.filter-group input[type="text"] {
  flex: 1;
}

.filter-group input[type="date"] {
  width: auto;
  margin-right: 1em;
}

/* Apply Filters Button */
#filter-form .btn-primary {
  display: block;
  margin: 1em auto 0;
  width: fit-content;
}

@media (max-width: 768px) {
  .filter-container {
    margin: 0 0 2em auto;
  }
}
