/* ../src/styles/index.css */

.main-container {
  gap: 1em;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-content #left-column,
.main-content #right-column {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#streak-stats,
#num-stats {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  #main-container {
    grid-template-columns: 1fr;
  }
}
