/* ../src/styles/index.css */

.main-container {
  gap: 5px;
}

#stats {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#last-workout h2,
#streak-stats h2,
#general-stats h2 {
  margin-bottom: 0.9375rem;
  color: var(--text-color);
  font-size: 1.75rem;
}
