/* ../src/styles/index.css */

/* Header/Navbar Styles */
.header {
  padding: 1rem 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo .material-symbols-outlined {
  color: white;
}

.navbar-right a,
#login-link {
  margin-left: 1rem;
  font-size: 1rem;
  /*color: var(--sidebar-text-color);*/
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s ease;
  border-radius: 0.5rem;
  padding: 10px;
}

.navbar-right a:hover,
#login-link:hover {
  /*color: var(--button-text-color);*/
  background-color: var(--secondary-color);
  cursor: pointer;
}

/* Main Content Styles */
.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* Adjust height based on header size */
}

.landing-content h1 {
  font-size: 4rem;
}

.tagline {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Styled Get Started Button */
.landing-content .btn-primary {
  background-color: var(--button-background);
  color: var(--input-background);
  padding: 1em 2em;
  font-size: 1.25rem;
  border-radius: 0.3125rem;
  text-decoration: none;
  margin-top: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

.landing-content .btn-primary:hover {
  transform: scale(1.2);
}
