.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--important-text-color);
}

/* Header/Navbar Styles */
.header {
  padding: 1em 2em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo .material-symbols-outlined {
  color: var(--important-text-color);
}

#login-link {
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s ease;
  border-radius: 0.5em;
  padding: 0.625em;
}

.logo a:hover,
#login-link:hover {
  cursor: pointer;
}

#login-link:hover {
  background-color: var(--button-hover-background);
}

#login-link:active {
  background-color: var(--button-hover-color);
}

/* Main Content Styles */
.landing-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-content h1 {
  font-size: 4rem;
}

.tagline {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

/* Styled Get Started Button */
.landing-content .btn-primary {
  background-color: var(--button-background-color);
  padding: 1em 2em;
  font-size: 1.25rem;
  border-radius: 0.3125em;
  text-decoration: none;
  margin-top: 1rem;
  transition: transform 0.2s;
}

.landing-content .btn-primary:hover {
  transform: scale(1.2);
  color: var(--button-hover-color);
}

.landing-content .btn-primary:active {
  color: var(--button-active-background);
}

@media (max-width: 768px) {
  .landing-content h1 {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .tagline {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  #login-link {
    background-color: var(--button-background-color);
  }
}
