/* Header/Navbar Styles */
.header {
    background-color: var(--background-color);
    padding: 1rem 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-decoration: none;
}

.navbar-right a, #login-link {
    margin-left: 1rem;
    font-size: 1rem;
    color: var(--sidebar-text-color);
    text-decoration: none;
    transition: background-color 0.3s, ease color 0.3s ease;
    border-radius: 0.5rem;
    padding: 10px;
}

.navbar-right a:hover, #login-link:hover {
    color: var(--button-text-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

/* Main Content Styles */
.landing-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Adjust height based on header size */
}

.landing-content h1 {
    font-size: 4rem;
}