/* ./src/styles/modal.css */

/* Modal Overlay */
.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  pointer-events: auto;
}

/* Modal Container */
.modal-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  background-color: var(--background-color);
  border: 1px solid var(--input-border-color);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

/* Close Button */
.close-modal-button {
  margin-left: auto;
  font-size: 2rem;
  color: var(--accent-color);
  cursor: pointer;
  background: none;
  border: none;
  padding: 0.5em;
  z-index: 3;
}

/* Modal header */
.modal-header p {
  display: flex;
  align-items: center;
}

.modal-header #separation-line {
  border-bottom: 1px solid var(--input-border-color);
  margin: 0.75rem auto;
  width: 60%;
}

.modal-header p span {
  flex: 1;
}

/* Modal Content */
.modal-content {
  padding: 1rem 3rem;
  max-height: 95%;
  overflow: auto;
}

/* Common styles for forms inside modal */
.modal-content .form-group {
  margin-bottom: 1rem;
}

.modal-content label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--input-border-color);
  border-radius: 0.25rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

.modal-content .exercise {
  border: 1px solid var(--input-border-color);
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.modal-content .remove-exercise-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text-color);
}

.modal-content .sets-container {
  margin-top: 1rem;
}

.modal-content .set-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.modal-content .set-number {
  width: 2rem;
}

.modal-content .set-row input {
  flex: 1;
  margin-right: 0.5rem;
  padding: 0.25rem;
}

.modal-content .remove-set-button {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--accent-color);
}

.modal-content .exercise-buttons {
  margin-top: 1rem;
}

.modal-content button {
  margin-top: 1em;
}

/* Suggestions Container */
.suggestions-container {
  background-color: var(--background-color);
  width: 97%;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Suggestion Item as a Chip */
.suggestion-item {
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: var(--important-text-color);
  border-radius: 1rem;
  cursor: pointer;
  font-size: 0.8rem;
}

.suggestion-item:hover {
  background-color: var(--button-hover-background);
  color: var(--important-text-color);
}

.suggestion-item:active {
  background-color: var(--button-active-background);
}

/* Styles specific to view modal */
.modal-header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sets-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.sets-table th,
.sets-table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--text-color);
}
