/* Sidebar Container */

/* mobile sidebar */
#mobile-navbar {
  display: none;
  background-color: var(--sidebar-background-color);
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0.5em 1em;
}

#mobile-navbar .logo-toggle {
  margin-bottom: 0;
  justify-content: flex-start;
  gap: 1em;
}

#modal-overlay-hide {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  pointer-events: auto;
}

/* Sidebar */
.sidebar {
  width: 250px; /* Expanded width */
  height: 100vh; /* Full viewport height */
  background-color: var(--sidebar-background-color);
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em 1.5em;
  transition: transform 0.3s ease, pointer-events none;
  overflow: visible;
  flex-shrink: 0;
}

/* Collapsed Sidebar */
.sidebar.collapsed {
  width: 3.5rem; /* Collapsed width */
}

/* Logo and Toggle Icon Container */
.logo-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

/* Adjust when collapsed */
.sidebar.collapsed .logo-toggle {
  flex-direction: column;
  align-items: center;
}

.sidebar.collapsed .toggle-icon {
  margin-top: 1em;
}

.material-symbols-outlined {
  font-size: 2rem;
  color: var(--sidebar-text-color);
}

/* Toggle Icon Styles */
.toggle-icon {
  cursor: pointer;
}

/* Navigation Links */
.nav-links {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.nav-links a {
  display: flex;
  width: 100%;
  align-items: center;
  color: var(--sidebar-text-color);
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: var(--button-background-color);
  color: var(--important-text-color);
}

/* Icons in Navigation Links */
.nav-links a .material-symbols-outlined {
  font-size: 1.5rem;
  margin-right: 1em;
  color: inherit;
}

/* Text in Navigation Links */
.link-text {
  font-size: 1rem;
}

/* Adjust when collapsed */
.sidebar.collapsed .nav-links {
  justify-content: center;
}

.sidebar.collapsed .nav-links a {
  justify-content: center;
}

.sidebar.collapsed .nav-links .material-symbols-outlined {
  margin: 0;
}

.sidebar.collapsed .link-text {
  display: none;
}

/* Theme Toggle Wrapper */
.theme-toggle-wrapper {
  margin-top: auto; /* Push to bottom */
}

/* Hide theme toggle when collapsed */
.sidebar.collapsed .theme-toggle-wrapper {
  display: none;
}

.sidebar.resizing {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;
}

@media (max-width: 768px) {
  /* Display mobile navbar */
  #mobile-navbar {
    display: flex;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 5;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  #modal-overlay-hide.active {
    display: block;
  }
}
