/* Stats Container Styling */

.stat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  width: 12.5em;
  aspect-ratio: 1;
  text-align: left;
  margin: 0;
  box-sizing: border-box;
}

.stat-container .material-symbols-outlined {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2rem;
  color: var(--text-color);
}

.stat-container .value {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
}
