.stat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  aspect-ratio: 1;
  padding: 1em;
  background-color: var(--container-background-color);
  border-radius: 0.3125em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.stat-container .material-symbols-outlined {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2rem;
  color: var(--text-color, #333);
}

.stat-container .value {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color, #333);
  margin: 0 auto;
}

.stat-container .tag {
  font-size: 1em;
}

@media (max-width: 768px) {
  .stat-container .value {
    font-size: 1.5rem;
  }

  .stat-container .material-symbols-outlined {
    font-size: 1.5rem;
  }
}
