/* ../src/styles/theme.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Sege UI", Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-size: 1rem;
}

/* Page Content Positioning */
.container {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  color: var(--text-color);
}

/* Footer Styles */
.footer {
  text-align: center;
  padding: 1rem;
  color: var(--important-text-color);
}

a {
  color: var(--important-text-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--button-hover-background);
}

/* Style the Material Symbol in the logo */
.logo {
  box-sizing: content-box;
  width: fit-content;
}

.logo .material-symbols-outlined {
  font-size: 2rem;
  color: var(--text-color);
}
