.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip .tooltip-text {
  display: none;
  position: absolute;
  top: 100%;
  left: 100%;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 0.5em;
  border-radius: 0.5em;
}

.tooltip:hover .tooltip-text {
  display: block;
}
