.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip .tooltip-text {
  display: none;
  position: absolute;
  top: 100%;
  left: 75%;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  z-index: 2;
}

.logo-toggle .tooltip:hover .tooltip-text,
.collapsed .nav-links.tooltip:hover .tooltip-text {
  display: block;
}

.logo-toggle .tooltip:active .tooltip-text,
.collapsed .nav-links.tooltip:active .tooltip-text {
  display: none;
}

@media (hover: none) {
  .tooltip .tooltip-text {
    display: none !important;
  }
}
