/* ./src/styles/workout-history.css */

.container {
  display: flex;
  overflow-y: auto;
}

.main-container {
  flex: 1;
  padding: 2.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

#history-container {
  width: 100%;
  margin: 2rem auto;
  background-color: var(--container-background-color);
  border-radius: 0.3125rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for workout info */
.workout-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.workout-table th,
.workout-table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--input-border-color);
}

.workout-item {
  transition: background-color 0.3s;
}

.workout-item:hover {
  background-color: var(--background-color);
  border-radius: 0.3125rem;
  cursor: pointer;
}

.workout-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.workout-actions .action-btn {
  font-size: 0.9rem;
  padding: 0.3125rem;
  border: none;
  cursor: pointer;
  background-color: var(--background-color);
}
