/* ./src/styles/workout-history.css */

.container {
  display: flex;
  height: 100vh;
}

.main-container {
  flex: 2;
  padding: 2.5rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#history-container {
  width: 100%;
  margin: 2rem 2rem 0 0;
  background-color: var(--input-background);
  border-radius: 0.3125rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for workout info */
.workout-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.workout-table th,
.workout-table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}

.workout-item {
  transition: background-color 0.3s;
}

.workout-item:hover {
  background-color: var(--background-color);
  border-radius: 0.3125rem;
}

.workout-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.workout-actions .btn-secondary {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  color: var(--text-color);
  background-color: var(--button-background);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.workout-actions .btn-secondary:hover {
  background-color: var(--accent-color);
  color: white;
}
